<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Магазин</li>
      <li><a href="<%= shop_path %>">Категории</a></li>
      <li><a href="<%= stationerys_path %>">Канцелярские товары</a></li>
      <li><a href="<%= books_path %>">Книги</a></li>
      <li><a href="<%= statistics_path %>">Статистика книг</a></li>
    </ul>
  </div>
</div>

<div class="grid-x grid-margin-x">
  <div class="large-12 cell">
    <h4>Название списка покупок: <%=@list.name%> </h4>
  </div>

  <% if @list.all_products.empty? %>
  <div class="large-12 cell">
    <a class="button secondary" href="<%= lists_path %>">Назад к спискам</a>
  </div>
    <div class="cell large-12 callout">
      Список покупок пустой
    </div>
  <%else%>

  <div class="large-12 cell">
    <div class="large-12 cell">
      <h4>Общая стоимость:  <%=@list.total_price%> рублей</h4> 
    </div>
    <div class="large-12 cell">
      <a class="button secondary" href="<%= lists_path %>">Назад к спискам</a>
      <a class="button" href="<%= path(@list, 'buy') %>">Оплатить список</a>
    </div>
    <table>
      <thead>
        <tr>
          <th>Количество</th>
          <th>Название товара</th>
          <th>Цена</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @list.all_products.uniq.each do |product| %>
          <tr>
            <td> <%= @list.count_product(product.name) %> </td> 
            <td> <%= product.name %> </td>
            <td> <%= @list.product_price(product.name) %> </td>
            <td><a class="hollow button alert medium" 
            href="<%= path(@list, 'delete', product.name) %>">Удалить товар</a></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<%end%>