<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Магазин</li>
      <li><a href="<%= shop_path %>">Категории</a></li>
      <li><a href="<%= books_path %>">Книги</a></li>
      <li><a href="<%= statistics_path %>">Статистика книг</a></li>
      <li><a href="<%= lists_path %>">Списки покупок</a></li>
    </ul>
  </div>
</div>

<div class="grid-x grid-margin-x">
  <div class="cell large-12">
    <h4>Список канцелярских товаров</h4>
    <a href="<%= stationerys_new_path %>" class="secondary button">Добавить</a>
  </div>

  <% if @stationerys.size == 0 %>
    <div class="cell large-12 callout warning">
      В приложении нет информации о канцтоварах
    </div>
  <% else%>
    <% @stationerys.each do |stationery| %>
      <div class="card cell large-4">
        <div class="card-divider">
          <%= stationery.name %>
        </div>
        <div class="card-section">
          <p>Цена: <%= stationery.price %></p>
          <p>Количество в магазине: <%= stationery.quantity %></p>
           <p>
            <a class="hollow button" href="<%= path(stationery) %>">
            Информация о товаре
            </a>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

