<div class="grid-x">
  <div class="cell large-12">
    <h3>Информация о канцтоваре</h3>

    <p>Название: <%= @stationery.name %></p>
    <p>Цена: <%= @stationery.price %></p>
    <p>Количество штук в магазине: <%= @stationery.quantity %></p>
    <a class="alert button" href="<%= path(@stationery, 'delete') %>">Удалить</a>
    <a class=" secondary button" href="<%= stationerys_path %>">Назад</a>
  </div>
</div>
