<div class="grid-x">
  <div class="cell large-12">
    <h3>Информация о канцтоваре</h3>

    <p>Название: <%= @stationery.name %></p>
    <p>Цена: <%= @stationery.price %></p>
    <p>Количество штук в магазине: <%= @stationery.quantity %></p>
    <a class="alert button" href="<%= path(@stationery, 'delete') %>">Удалить</a>
    <a class="button" href="<%= stationerys_path %>">К списку канцтоваров</a>
     <a class="hollow button secondary" href="<%= shop_path %>">К категориям</a>
  </div>
</div>
