<div class="grid-x grid-padding-x">
  <div class="large-12 cell">
    <h4>Список книг</h4>
  </div>

<div class="large-12 cell">
    <% form({ method: :get }, { obj: @params }) do |f| %>
      <div class="grid-x grid-padding-x">
        <% if @params.failure? %>
          <div class="large-12 cell callout warning">
            <p>
              Параметры фильтра введены неверно, данные не были отфильтрованы
            </p>
          </div>
        <% end %>

        <div class="large-6 cell">
          <%= f.input(:read_format, type: :text, placeholder: 'Бумажная книга', label: 'Формат чтения') %>
        </div>
        <div class="large-12 cell">
          <%= f.button(value: 'Фильтровать', class: 'button') %>
        </div>
      </div>   
    <% end %>
  </div>



  <div class="large-12 cell">
    <table>
      <thead>
        <tr>
          <th>Дата прочтения</th>
          <th>Название книги</th>
          <th>Оценка</th>
          <th>Формат чтения</th>
        </tr>
      </thead>
    <tbody>
      <% @books.each do |book| %>
      <tr>
        <td><%= book.date %></td>
        <td><%= book.author %> "<%= book.name %>"</td>
        <td><%= book.mark %></td>
        <td><%= book.read_format %></td>
      </tr>
      <% end %>
    </tbody>
    </table>
  </div>
</div>

<div class="grid-x grid-padding-x">
  <div class="large-6 cell">
    <a href="new" class="button">Добавить книгу</a>
    <a href="statistics" class="button">Статистика</a>
  </div>
</div>