<div class="grid-x grid-margin-x">
  <div class="cell large-12">
    <h3>Список книг</h3>
  <a href="<%= books_new_path %>" class="button">Добавить книгу</a>
  <a href="<%= shop_path %>" class="button"> К категориям</a>
  </div>

  <div class="large-12 cell">
    <% form({ method: :get }, { obj: @params }) do |f| %>
      <div class="grid-x grid-padding-x">
        <% if @params.faliure? %>
          <div class="large-12 cell callout warning">
            <p>
              Параметры фильтра введены неверно, данные не были отфильтрованы
            </p>
          </div>
        <% end %>

        <div class="large-6 cell">
          <%= f.input(:title, type: :text, placeholder: 'Преступление и наказание', label: 'Название') %>
        </div>
        <div class="large-6 cell">
          <%= f.input(:genre, type: :text, placeholder: 'Фантастика', label: 'Жанр') %>
        </div>
        <div class="large-12 cell">
          <%= f.button(value: 'Фильтровать', class: 'button') %>
        </div>
      </div>
    <% end %>
  </div>

 <% if @books.size == 0 %>
   <div class="cell large-12 callout warning">
     В приложении нет информации о книгах
   </div>
 <% else%>
   <% @books.each do |book| %>
     <div class="card cell large-4">
       <div class="card-divider">
         <%= book.title %>
       </div>
       <div class="card-section">
         <p><%= book.author %></p>
         <p>
           <a class="button" href="<%= path(book) %>">Информация о книге</a>
         <p>
       </div>
     </div>
   <% end %>
 <% end %>

</div>
