<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Магазин</li>
      <li><a href="<%= shop_path %>">Категории</a></li>
      <li><a href="<%= stationerys_path %>">Канцелярские товары</a></li>
      <li><a href="<%= statistics_path %>">Статистика книг</a></li>
      <li><a href="<%= lists_path %>">Списки покупок</a></li>
    </ul>
  </div>
</div>

<div class="grid-x grid-margin-x">

  <div class="cell large-12">
    <h4>Список книг</h4>
    <a href="<%= books_new_path %>" class="secondary button">Добавить</a>
  </div>
</div>

<div class="large-12 cell">
  <% form({ method: :get }, { obj: @params }) do |f| %>
    <div class="grid-x grid-margin-x">
      <% if @params.failure? %>
        <div class="large-12 cell callout warning">
          <p> Параметры фильтра введены неверно, данные не были отфильтрованы</p>
        </div>
      <% end %>
      <div class="large-6 cell">
        <%= f.input(:title, type: :text, placeholder: 'Мой Доктор', label: 'Название') %>
      </div>
      <div class="large-6 cell">
        <%= f.input(:genre, type: :text, placeholder: 'Роман', label: 'Жанр') %>
      </div>
      <div class="large-12 cell">
        <%= f.button(value: 'Фильтровать', class: 'hollow button secondary') %>
      </div>
    <% end %>
  <% if @filtered_books.empty? %>
    <div class="callout">Согласно вашему фильтру никаких книг не было найдено</div>
</div>

<div class="grid-x grid-margin-x">
  <% else%>
    <% @filtered_books.each do |book| %>
      <div class="card cell large-4">
        <div class="card-divider">
          <%= book.title %>
        </div>
        <div class="card-section">
          <p><%= book.author %></p>
          <p>
            <a class="hollow button" href="<%= path(book) %>">Информация о книге</a>
          <p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
