<div class="grid-x grid-padding-x">
  <div class="large-12 cell">
    <h4>Статистика по жанрам</h4>
  </div>

  <div class="large-12 cell">
    <table>
      <thead>
        <tr>
          <th>Жанр</th>
          <th>Количество книг</th>
          <th>Средняя стоимость</th>
          <th>Суммарное количество экземпляров</th>
          <th>Процент количества экземпляров относительно общего числа товаров</th>
        </tr>
      </thead>
      <tbody>
        <% @books.genres.each do |genre| %>
          <tr>
            <td> <%= genre %> </td>
            <td> <%= @books.count_books(genre) %> </td>
            <td> <%= @books.average_cost(genre) %> </td>
            <td> <%= @books.instance_books(genre) %> </td>
            <td> <%= ((@books.instance_books(genre) / ((@books.total_books + @stationerys.total_stationerys).to_f))*100).round(3) %> % </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="large-12 cell">
    <a class="button" href="<%= books_path %>">Список книг</a>
    <a class="button" href="<%= shop_path %>">Категории</a>
  </div>
</div>